<!DOCTYPE html>
<html lang="{{ .Site.Language.LanguageCode | default "en" }}" class="dark" data-contact-email="{{ .Site.Params.email }}">
<head>{{ partial "head.html" . }}</head>
<body class="font-sans">
  <a href="#main" class="sr-only focus:not-sr-only focus:fixed focus:left-4 focus:top-4 focus:z-[100] focus:rounded-lg focus:bg-mint focus:px-5 focus:py-3 focus:text-ink">Skip to content</a>
  {{ partial "header.html" . }}
  <main id="main">{{ block "main" . }}{{ end }}</main>
  {{ partial "footer.html" . }}
  {{ $js := resources.Get "js/main.js" | minify | fingerprint }}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer>
</script>
</body>
</html>
